<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Furniture</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {{>navbar}}

    <div class="container mx-auto px-4 mt-8">
        <h2 class="text-3xl font-bold mb-4">Edit Furniture</h2>
        <form action="/furnitures/{{ furniture._id }}/edit" method="post" class="max-w-md">
            <div class="mb-4">
                <label for="furnitureName" class="block text-gray-700 font-bold mb-2">Furniture Name:</label>
                <input type="text" id="furnitureName" name="furnitureName" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" value="{{ furniture.furnitureName }}" required disabled>
            </div>
            <div class="mb-4">
                <label for="image" class="block text-gray-700 font-bold mb-2">Furniture Image Link:</label>
                <input type="text" id="image" name="image" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" value="{{ furniture.image }}" required>
            </div>
            <div class="mb-4">
                <label for="price" class="block text-gray-700 font-bold mb-2">Price:</label>
                <input type="number" id="price" name="price" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" value="{{ furniture.price }}" required>
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Update Furniture</button>
        </form>
    </div>

    {{>footer}}
</body>
</html>
